body
{
  margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  
 
}
h1
{
   
    font-family: 'Sacramento', cursive;
    font-size: 4.44rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 220%;
}


h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3
{
    font-family: 'Montserrat', sans-serif;
}
.top-container
{ background-color: lightcyan;
    position: relative;
    padding-top: 100px;
}
.pro
{
    text-decoration: underline;
}
.bottom
{
    position: absolute;
    bottom: 300px;
    left: 300px;

}
.top
{
    position: absolute;
right: 300px;
top: 50px;
}
.profile-img
{
    width: 200px;
}
.web-logo
{
    width: 200px;
}
.gym
{
    width: 200px;
}
.h3
{
    color: #11999E;
}
.footer-link
{
    color: #11999E;
}